.page-404 {
    text-align: center;
    padding-top: 24.6vh;
    padding-bottom: 24.6vh;

    h1,
    h2 {
        color: $color-black;
    }

    h1 {
        margin-bottom: 5vh;
    }

    // @media screen and (max-width: 1095px) {

    // }
}