.footer {
    background-color: $color-black;
    padding: 3% 5%;
    position: absolute;
    bottom: 0;
    min-width: 100%;

    p,
    a {
        color: $color-white;
    }

    span {
        color: $color-coral;
        text-transform: uppercase;
        font-weight: 600;
    }

    ul {
        list-style: none;

        @media screen and (max-width: 992px) {
            padding-left: 0;
            padding-top: 20px;
        }
    }

    li {
        display: inline-block;
        margin: 0 20px 20px 0;
    }

    .icon {
        fill: $color-coral;
    }

    .info:hover {
        color: $color-coral;
    }
}