.popup {
    &-container {
        background-color: $color-white;
        padding: 16px;
        min-height: 50%;
        width: 30%;
        margin: 5% auto;
    }

    &-title {
        text-align: center;
        margin: 0 0 16px 0;
    }

    &-view {
        &-body {
            margin-bottom: 16px;
        }
    }

    &-button {
        display: flex;
        justify-content: center;

        .btn-cancel {
            margin-right: 8px;
            width: 100%;
        }

        .btn-action {
            margin-left: 8px;
            width: 100%;
        }

        .btn-cancel-view,
        .btn-close {
            width: 100%;
        }
    }
}