.popup{
    &-container{
        background-color: $color-white;
        padding: 16px;
        min-height: 50%;
        width: 50%;
        margin: 5% auto;
    }

    &-title{
        text-align: center;
        margin: 0 0 16px 0 ;
    }

    &-button{
        text-align: end;
        
        .btn-action{
            margin-right: 16px;
        }
    }


}