.navbar {
    box-shadow: rgb(50 50 93 / 25%) 0px 5px 15px -5px, rgb(0 0 0 / 30%) 0px 10px 15px -5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @media screen and (max-width: 1095px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navbar-nav {
    text-align: center;
}

// .nav-item.dropdown:hover .dropdown-menu {
//     display: block;
// }

// .nav-item.dropdown .dropdown-menu {
//     display: none;
// }

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: $color-coral;
}

.nav-link {
    font-weight: 600;
    color: rgba(0, 0, 0, .55);
}

.dropdown {
    padding: 0;
}

.dropdown-menu[data-bs-popper] {
    top: 80% !important
}

.dropdown-item {
    font-weight: 600;
    color: rgba(0, 0, 0, .55);
    margin: 0px !important;
    padding: 0.7rem 1rem;
}

.dropdown-item:focus {
    background-color: $color-coral;
    color: rgba(0, 0, 0, .7);
}

.dropdown-menu {
    padding: 0px !important;
}

.dropdown-divider {
    margin: 0px;
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        margin-top: 30px;
    }

    .nav-link {
        padding: 8px !important;
    }
}