.swiper {
    padding: 0 20px !important;
}

.swiper-slide {
    min-height: 25rem;
    max-height: 25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 25px;
}

.swiper-button-prev,
.swiper-button-next {
    color: $color-coral  !important;
}

.swiper-button-prev {
    left: -3px !important;
}

.swiper-button-next {
    right: -3px !important;
}

.swiper-pagination-bullet-active {
    background-color: $color-coral  !important;
}